/*fonts*/
@font-face{
	font-family: PTSans-Regular;
	src:url(../fonts/PTSans-Regular.ttf);
}
@font-face{
	font-family: PTSans-Bold;
	src:url(../fonts/PTSans-Bold.ttf);
}
@font-face{
	font-family: HelveticaNeueBold;
	src:url(../fonts/HelveticaNeueBold.otf);
}
header{
	background-color: #fcdb00;
	padding: 15px 0;
}
.menu ul li a{
	font-family: PTSans-Regular;
	font-weight: 700;
	font-size: 22px;	
	padding: 0px 30px !important;
	text-align: right;
}
.menu ul li:last-child a{
	padding-right: 0px !important;
}
.menu ul li a:hover{
	transition: .6s;
	color: black !important;
}
.slider{
	background-color: #fcdb00;
	padding-bottom: 90px;
	padding-top: 20px;
}
.inspire{
	margin-left: 15px;
}
.inspire h1{
	font-family: PTSans-Bold;
	font-size: 32px;
	color: #010101;
	margin-top: 75px;
	margin-bottom: 20px;
}
.inspire h4{
	font-family: PTSans-Regular;
	font-weight: 400;
	font-size: 20px;
	color: #313841;
	margin-bottom: 20px;
}
.inspire p{
	font-family: PTSans-Regular;
	font-weight: 400;
	font-size: 16px;
	color: #555555;
	margin-bottom: 30px;

}
.inspire ul li i{
	font-size: 42px;
	color: black;
	margin-right: 20px;
}
.inspire ul li i:link, .inspire ul li i:active, .inspire ul li i:hover, .inspire ul li i:visited{
	color: black;
	transition: .6s;
}
.tab{

}
.tab img{

}
.cid{
	bottom:-80px;
}
.cid li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: grey;
}
.cid .active {
    opacity: 1;
   	background-color: dimgray;
}

.features{
	margin-top: 90px;
	margin-bottom: 160px;
	background-color: #ffffff;
}
.title{
	text-align: center;
	width: 90%;
	margin-bottom: 90px !important;
}
.title h1{
	font-family: PTSans-Bold;
	font-size: 32px;
	margin-bottom: 20px;
}
.title h4{
	font-family: PTSans-Regular;
	font-size: 20px;
	
}
.info{
	width: 80%;
	margin-bottom: 80px !important;
}
.icon{
margin-top: 2px;
text-align: center;

}
.icon i{
font-size: 45px;

}
.icon i:hover{
	transition: .8s;
    transform: rotateY(360deg);
    background-color: black;
    color: white;
}
.details{
	margin-left: 5px;
}
.details h1{
	font-family:PTSans-Regular;
	font-size: 22px;
}
.details p{
	font-family:PTSans-Regular;
	font-size: 18px;
	line-height: 22px;
}
/*support starts*/
.support {
	background-color: black;
}

.help {
	width: 70%;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 75px;
    text-align: center;
}
.help h1{
    font-family: PTSans-Bold;
    font-size: 32px;
    color: #fcdb00;
    margin-bottom: 20px;

}
.help h5{
    font-family: PTSans-Regular;
    font-size: 20px;
    color: #565656;	
    margin-bottom: 40px;
}

.fc-custom{
	width: 87%;
    margin: auto;
    margin-right: 0px;
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 1.5rem 0.75rem;
    font-family: PTSans-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.col-custom{
	padding-left: 0;
}
.btn-custom{
	color: #212529;
    background-color: #fcdb00;
    border-color: #ffc107;
    padding: 12px 32px;
    font-family: PTSans-Bold;
    font-size: 16px;
    text-transform: uppercase;
}
.btn-custom:hover {
	color: yellow;
	background-color: black;
	transition: .5s;
	border-color: white;
}
/*support starts*/
.media{
	padding-bottom: 120px;
}
.custom-list{
    margin-left: 30px;
}
.custom-item{
	font-size: 30px;
}
.custom-item i{
	color: black;
    background-color: #fcdb00;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
}
.custom-item i:hover{
	color: yellow;
	background-color: black;
	transition: .4s;
	border-color: white;
}
.custom-item:nth-child(1) i{
	padding: 5px 12px;
}
.custom-item:nth-child(4) i{
	padding: 5px 10px;
}
/*support ends*/
/*footer starts*/
footer{
	background-color: black;
	color: white;
	padding-bottom: 100px;
}
.address h6{
    font-family: PTSans-Regular;
    font-size: 18px;
    margin-bottom: 5px;
}
.address p {
    font-family: PTSans-Regular;
    font-size: 16px;
    margin-bottom: 1px;
}
.list{
    margin-top: 10px;
    line-height: 20px;
    font-family: PTSans-Regular;
    font-size: 16px;
}
.list ul li:hover{
background-color: black;
color: yellow;
cursor: pointer;
transition: .5s;
}
.list ul li a{

}
/*footer ends*/